<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <!--<add name="DatabaseConnection"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename={0}SalesArea.mdf;Integrated Security=True;User Instance=True;"
            providerName="System.Data.SqlClient" />-->
      <add name="DatabaseConnection"
            connectionString="Server=(localdb)\v11.0;AttachDbFilename={0}SalesArea.mdf;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
    
    </connectionStrings>
        
</configuration>